#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 999;
  top: 0;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
}

#nav-bar span.header {
  height: 80px;
  font-size: xx-large;
  line-height: 80px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.btn-compose {
  border-radius: 0.5em;
  background-color: lightblue;
  padding: 12px 15px;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin: 15px;
  /* display: inline-block; */
}

.btn-compose:hover {
  background-color: white;
}
